html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
}

                                                                            /* Navbar */
.navBorder {
    position: fixed;
    left: 22.5%;
    margin-top: 10px;
    padding: 10px;
    padding: 3px;
    width: 55%;
    border-radius: 35px;
    z-index: 1;


/* For border animation color */
    background: linear-gradient(-45deg, #3c00ff,#3702b2, #44006e, #2a0060);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar {
    backdrop-filter: blur(1100px);
    background-image: url(Assets/BackgroundImg/NavbarBackground.png);
    background-size: 100%;
    padding:1px 0px;
    border-radius: 30px;
    transition: all 0.3s ease;
    z-index: 1;

}
.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.navbar ul * {
    color: white;
    font-family: "Urbanist", serif;
}
.navbar .LandingPageLinks {
    font-size: 1.3em;
    text-decoration: none;
    font-style: normal;
}

                                                                    /* landing page titles stle */

.LandingPage {
    background-image: url(Assets/BackgroundImg/PortfolioLandingPage.png);
    background-size: 100% 100%;
    display: block;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}  

.LandingPageTitle {
    width: 70%;
    position: relative;
    top: 15em;
    margin-left: 80px;
}
.LandingPageTitle h1 {
    color: white;
    font-size: 2.1875em;
    font-family: "Urbanist", serif;
    font-weight: 500;

}
.LandingPageTitle #name {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-style: italic;
    display: inline;
    font-size: 3em;
}
.LandingPageLinks {
    font-family: "Urbanist", serif;
    font-weight: 200;
    font-style: italic;
    display: inline;
    font-size: 0.75em;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: rgb(90, 86, 86);
    transition: 0.4s;
}   

.LandingPageLinks:hover {
    color: #8e8d90;
}

                                                                            /* About me */

.AboutMe {
    background-image: url(Assets/BackgroundImg/PortfolioAboutPage.png);
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    top: 100%;
    z-index: -1;
}
.AboutMeText {
    display: flex;
    margin:0 auto;
    justify-content: center;
    margin:5%;
    gap: 50px;
    align-items: center;
}
.AboutMe p{
    color: white;
    text-align: justify;
    font-size: 2em;
    font-family: "Urbanist", serif;
    font-weight: 500;
    width: 65%;
    padding: 0;
}
.AboutMe img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: auto;
}
.imgCover {
    display: flex;
    padding:3px;
    border-radius: 100%;
    text-align: center;
    
    background: linear-gradient(-45deg, #ffffff,#464646, #342355, #2b063d);
	background-size: 400% 400%;
	animation: image 5s ease infinite;
}
@keyframes image {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
                                                                        /* Skills Section */

.skills {
    background-image: url(Assets/BackgroundImg/PortfolioSkillsPage.png);
    background-size: 100% 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 170%;
    z-index: -1;    
}

.stackGrid{
    background: rgba(115, 0, 255, 0.239);    /*  10% opaque green */ 
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    left:5%;
    max-width: 90%;
    border-radius: 30px;
    padding: 30px 5px;
    z-index: -2;
}
.stackGrid:before {
    content: '';
    position: absolute;
    background-color: #ffffff00;
    border:solid #6152d1 5px;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;
    z-index: -3;
    filter: blur(20px);
}
.stackIcons {
    display: flex;
    gap: 50px;
}
.stackGrid h2, h5{
    font-size: 2.1875em;
    color: white;
    font-family: "Urbanist", serif;
    font-weight: 500;
}
.stackGrid h5{
    font-size: 1.25em;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 20em; */
    height: auto;
    background: rgba(74, 31, 247, 0.086);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}
.icons {
    max-width: 60px;
    transition: transform 0.3s ease;

}
.webStack, .designStack, .mlStack{
    padding-inline-start: 0px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    gap: 35px; 
}
.webStack {
    width: 330px;
    flex-wrap: wrap;
}

                                                                /* PROJECT SECTION */
.projects {
    background-image: url(Assets/BackgroundImg/PortfolioProjectsPage.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 270%;
    z-index: -1;   
}
.projects h1 {
    font-size: 2.5em;
    font-family: "Urbanist", sans-serif;
    color: white;
    font-weight: 400;
}
.cards img {
    width: 275px;
    height: 275px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cardsProjects {
    display: flex;
    flex-direction: row;
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
    color: white;
}
.cards {
    margin: 10px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 275px;
    text-align: center;
    display: flex;
    background-color: black;
    border-radius: 20px;
}
.cards h2{
    margin: 10px 20px;
}
.cards p{
    margin: 10px 20px;
}
/* Media Queries */
@media (max-width: 768px) {
    .LandingPageTitle {
        width: 90%;
        margin-left: 20px;
        top: 10em;
    }
    .AboutMeText {
        flex-direction: column;
        gap: 20px;
    }

    .stackIcons{
        flex-direction: column;
    }
}
